body, html {
  height: 100%;
  display: grid;
  background-color: #818181;
}

body {
  
}

.container {
    background-color: #E0D8D0;
    border: 1px solid black;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
 
}

.heading {
  /* text-align: center; */
  grid-column: 1 / 1;

}

#screen {
  background-color: #C2C4AB;
  text-align: right;
  width: 93%;
  height: 50px;
  margin: 0px 0px 10px 0px;
  border: 1px solid black;
  padding: 10px;
  grid-column: 1 / 1;
  display: grid;
  grid-template-columns: auto;
}

#display {
  font-size: 20pt;
  font-weight: bold;
  grid-column: 1 / 1;
}

#equation {
  grid-column: 1 / 1;
}

.keypad {
  width: 100%;
  grid-column: 1/1;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  /* padding: 20px; */
  
  
}

.button {
  color: white;
  background-color: #3A3A3A;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  /* align-self: center; */
  /* justify-self: center; */
  
}

#AC {
  background-color: #B00A3E;
}

#CE {
  background-color: rgb(255, 81, 0);
}

#equals {
  grid-row: span 2;
  
}

#zerokey {
  grid-column: 1 / span 2;
}




